/* LoginForm.css */

.login-form-container {
  padding: 20px;
}

.login-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.username-field {
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 20px;
}

.login-error {
  margin-top: 20px;
}
